.chatContainer {
  @apply flex min-h-screen flex-col items-center justify-start text-white lg:p-6;

  h1 {
    @apply mb-8 text-3xl font-semibold;
    color: #ffffff;
  }

  .messagesSection {
    @apply flex w-full max-w-4xl flex-col gap-6 rounded-lg bg-gray-700 p-8 shadow-lg;

    h2 {
      @apply mb-4 text-2xl font-medium;
      color: #f1f1f1;
    }

    ul {
      @apply flex flex-col gap-4;
    }

    .messageItem {
      @apply rounded-lg p-4 shadow-md transition-all duration-200 ease-in-out;
      max-width: 80%;
      border-radius: 10px;
      word-wrap: break-word;

      &[data-message='sent'] {
        @apply self-end border-l-4 border-green-500 bg-gray-600 text-white;
      }

      &[data-message='received'] {
        @apply self-start border-l-4 border-red-500 bg-gray-700 text-white;
      }

      button {
        @apply mt-2 rounded px-4 py-1 text-white transition;

        &.liked {
          @apply bg-green-600 hover:bg-green-500;
        }

        &.notLiked {
          @apply bg-gray-600 hover:bg-gray-500;
        }
      }
    }
  }

  .formSection {
    @apply mt-6 w-full max-w-4xl rounded-lg bg-gray-700 p-6 shadow-lg;

    .textarea {
      @apply h-24 w-full resize-none rounded-lg border border-gray-500 bg-gray-800 p-4 text-white focus:border-blue-500 focus:outline-none;
    }

    .submitButton {
      @apply mt-4 w-full rounded-lg bg-blue-600 px-4 py-2 font-medium text-white transition-all duration-200 ease-in-out;

      &:hover {
        @apply bg-blue-500;
      }
    }
  }
}
